* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
.img1 {
  background-image: url("./img/pexels-jessbaileydesign-788946.jpg");
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.filter {
  background-color: #00000047;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.countanr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.cards:hover {
  width: 20rem;
  box-shadow: 1px 1px 10px #b8b8b8;
}
.whatsApp {
  width: 50px;
  height: 50px;
}
.whats {
  display: flex;
  align-items: center;
  a {
    margin-left: 1rem;
  }
}
.img2:hover {
  box-shadow: 1px 1px 10px #b8b8b8;
}
.product-card {
  height: 200px; /* زودت من 150px لـ 200px */
  display: flex;
  align-items: center;
}

.product-card .row {
  height: 100%;
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

